body {
  font-family: sans-serif;
  /* width: 600x;
  height: 400px;
  padding: 10px; */
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  #EDF1FF;
}

.header {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  background-image: linear-gradient(to bottom left, #553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 20px;
  font-weight: 10;
}
.title-div{
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}
.settings-div{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}
.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  padding: 20px 10px;
}
h1 {
  margin: 0;
  text-align: end;
}
.title-class{
  align-self: center;
}

.settings-button {
  border: none;
  background-color:  #EDF1FF;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background-image: url(/images/settings.png);
  background-size: cover;
}

.go-back-button {
  border: none;
  background-color:  #EDF1FF;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 2px;
  background-image: url(/images/backbutton.png);
  background-size: cover;
}

.Get-guide-button {
  background-color: #0051ad;
}
.View-all-guides-button {
  background-color: #0051ad;
}
button:hover {
  background-color: #c3d1e0;
}
/* .header{
  font-size: 20px;
  font-weight: 10;
  background-image: linear-gradient(to bottom left, #553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
} */
/* .leave-request {
  margin-bottom: 10%;
  margin-top: 340px;
  color: black;
} */
button {
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  width: 200px;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

#guide-list{
  width: 196px;
}
.Get-guide-button{
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.Get-guide-button:active,
.Get-guide-button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  outline: 0;
}

@media (min-width: 768px) {
  .Get-guide-button {
    font-size: 24px;
    min-width: 196px;
  }
}

.get-help-button{
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 90px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.get-help-button:active,
.get-help-button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  outline: 0;
}

@media (min-width: 768px) {
  .get-help-button {
    font-size: 24px;
    min-width: 196px;
  }
}



.View-all-guides-button{
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.View-all-guides-button:active,
.View-all-guides-button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  outline: 0;
}

@media (min-width: 768px) {
  .View-all-guides-button {
    font-size: 24px;
    min-width: 196px;
  }
}

 .dropdown-select option {
  color: #333;
  background-color: #ffffff;
  /* box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB); */
}


.container {
  display: flex;
  align-items: center; /* Center items vertically */
  gap: 3px;
}


.Go-to-chosen-option-button {
  align-items: center;
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: space-between;
  line-height: 1em;
  max-width: 100%;
  min-width: 0;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  white-space: nowrap;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  width: 40px;
  height: 60px;
}

.dropdown-select {
  align-items: center;
  text-align: center;
  bottom: 0;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: space-between;
  line-height: 1em;
  max-width: 100%;
  min-width: 90px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  border-top-style: dotted;
  width: 160px; 
  height: 60px;
}

html {
  width: 400px;
}
