body {
  font-family: sans-serif;
  width: 600x;
  height: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  #EDF1FF;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-image: linear-gradient(to bottom left, #553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 20px;
  font-weight: 10;
}

h1 {
  margin: 0;
}

.settings-button {
  border: none;
  background-color:  #EDF1FF;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 2px;
  background-image: url(/images/settings.png);
  background-size: cover;
}

.go-back-button {
  border: none;
  background-color:  #EDF1FF;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 2px;
  background-image: url(/images/backbutton.png);
  background-size: cover;
}

.Get-guide-button {
  background-color: #0051ad;
}
.View-all-guides-button {
  background-color: #0051ad;
}
button:hover {
  background-color: #c3d1e0;
}
/* .header{
  font-size: 20px;
  font-weight: 10;
  background-image: linear-gradient(to bottom left, #553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
} */
/* .leave-request {
  margin-bottom: 10%;
  margin-top: 340px;
  color: black;
} */
button {
  margin-top: 20px;
  padding: 5px 10px;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  width: 200px;
}

.Get-guide-button{
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.Get-guide-button:active,
.Get-guide-button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  outline: 0;
}

@media (min-width: 768px) {
  .Get-guide-button {
    font-size: 24px;
    min-width: 196px;
  }
}

.get-help-button{
  align-items: center;
  margin-top: 90px;
  bottom: 0;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 90px;
  padding: 5px 7px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.get-help-button:active,
.get-help-button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  outline: 0;
}

@media (min-width: 768px) {
  .get-help-button {
    font-size: 24px;
    min-width: 196px;
  }
}



.View-all-guides-button{
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.View-all-guides-button:active,
.View-all-guides-button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  outline: 0;
}

@media (min-width: 768px) {
  .View-all-guides-button {
    font-size: 24px;
    min-width: 196px;
  }
}
/* CSS */
/* .Get-guide-button {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #6f4bd2 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
} */

/* .Get-guide-button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
} */

/* @media (min-width: 768px) {
  .Get-guide-button{
    padding: 0 2.6rem;
  }
} */


/* CSS */
/* .View-all-guides-button {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.View-all-guides-button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .View-all-guides-button{
    padding: 0 2.6rem;
  }
} */

/* CSS */
/* .get-help-button {
  margin-top: 180px;
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.get-help-button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .get-help-button{
    padding: 0 2.6rem;
  }
}
 */

 .dropdown-select option {
  color: #333;
  background-color: rgba(166, 16, 204, 0.37);
  /* box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB); */
}

/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .go-back-button {
  border: none;
  background-color: #EDF1FF;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  margin-left: auto;
  background-image: url(/images/backbutton.png);
  background-size: cover;
} */

.container {
  display: flex;
  align-items: center; /* Center items vertically */
}


.Go-to-chosen-option-button {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: space-between;
  line-height: 1em;
  margin-bottom: 40px;
  margin-right: 10px;
  margin-top: 70px;
  max-width: 100%;
  min-width: 90px;
  padding: 5px 7px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  width: 200px;
}

.dropdown-select {
  align-items: center;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
  bottom: 0;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: space-between;
  line-height: 1em;
  max-width: 100%;
  min-width: 90px;
  padding: 5px 7px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  border-top-style: dotted;
  /* border-width: 5px; */
  width: 200px; 
}

html {
  width: 400px;
}
